.header {
  background-color: aliceblue;
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 4px 0 hsla(22, 100%, 8%, 0.2);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.nav-link:hover {
  color: #0d6efd;
}