<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand mb-0 fw-semibold text-primary py-2 px-3" [routerLink]="['home']">
        <i class="fa-solid fa-signs-post"></i> 
        PostDocs 
      </a>

      <button class="navbar-toggler border-0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="me-auto"></div>

        <ul class="navbar-nav fw-semibold nav-list gap-lg-4 gap-md-2 align-items-center">

          <li class="nav-item">
            <a class="nav-link active-nav-link" aria-current="page" [routerLink]="['home']" routerLinkActive="active">
              <i class="fa-solid fa-house"></i>
              Home
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['guide']" routerLinkActive="active">
              <i class="fa-solid fa-flag"></i>
              Guide
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['docs']" routerLinkActive="active">
              <i class="fa-solid fa-book"></i>
              Docs
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="" routerLinkActive="active">
              <i class="fa-solid fa-newspaper"></i>
              Posts
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Tobboki/PostDocs" target="_blank">
              <i class="fa-brands fa-github"></i>
              Github
            </a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>